{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Tv Show Tracker</title>
    <link rel="stylesheet", href="{% static 'css/base.css' %}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
            {% if user.is_authenticated %}
                <li class="navlist"><a href="/tvShows">All Tv Shows</a></li>
                <li class="navlist"><a href="{% url 'tvshow-create' %}">Add a Show</a></li>
                <li class="navlist"><a href="/tvShows/recommendations">Recommendations</a></li>
                <li class="navlist">
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button">Log out</button>
                    </form>
                </li>
            {% else %}
                <li class="navlist"><a href="{% url 'recommendations' %}">Recommendations</a></li>
                <li class="navlist"><a href="{% url 'login' %}">Login</a></li>
                <li class="navlist"><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
