{% extends 'base.html' %} 
{% load static %}

<link rel="stylesheet" href="../static/css/base.css" />
    {% block content %}
    {% if not user.is_authenticated %}
    <h1 class="home-header">Welcome to Tv Show Tracker</h1>
    <h3 class="home-desc">The best place to keep track of tv shows you've watched and get recommendations from others!</h3>
    <p class="home-auth">If you've got an account then <a href="{% url 'login' %}"><button class="auth-button">Login</button></a></p>
    <p class="home-auth">If not then <a href="{% url 'signup' %}"><button class="auth-button">Sign up</button></a></p>
    {% endif %}    
    {% endblock %}
</html>