{% extends 'base.html' %} {% load static %} {% block head %}
{% endblock %} {% block content %}

<h1 class="header">Tv Shows</h1>

<section class="card-container">
  {% for tvshow in tvshows %}
  <div class="card">
    <a href="{% url 'tvshow-detail' tvshow.id %}">
        <div class="card-info" id="index-info">
            <h2>{{ tvshow.title }}</h2>
            {% if tvshow.recommended %}
                <p>You recommend others to watch {{ tvshow.title }}</p>
            {% else %}
                <p>You don't recommend others to watch {{ tvshow.title }}</p>
            {% endif %}
            <p>You rate {{ tvshow.title }} a {{ tvshow.rating }}/5</p>
        </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}
